/* This CSS has been written by Ahmed, all rights reserved. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Barcode+128+Text&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    background-color:#122;
    max-width: 1920px;
    margin: auto;
    box-sizing: border-box;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    background: #333;
    width: 100%;
    box-shadow: 2px 2px rgb(0, 0, 0);
}

nav h1 {
    font-size: calc(40px + 1vw);
    font-family: "League Spartan", sans-serif;
    color: white;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    background-color: transparent;
} 

#links {
    display: flex;
    flex-direction:row;
    background: transparent;
}

#links ul {
    list-style-type: none;
}

#links ul li a {
    text-decoration: none;
    color:white;
}
#menubtn {
    background: transparent;
    color: white;
    font-size: calc(20px + 0.7vw);;
    text-decoration: none;
    padding:10px;
    border-radius: 30px;
    transition: 0.2             s;
    display: none;
}

#menubtn:hover {
    background-color: white;
    padding: 10px;
    color:black; 
}

#firstpage {
    position: relative;
    top: 140px;
    text-align: center;
}

#firstpage h1 {
    font-size: 110px;
    font-family: "League Spartan", sans-serif;
    color: white;
    font-weight: 400;
    padding-bottom: 30px;
}

#firstpage h3 {
    font-size: 50px;
    font-family: "League Spartan", sans-serif;
    color: white;
    font-weight:200;
    padding-bottom: 60px;
}

#firstpage a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: rgb(100, 100, 255);
    padding: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    transition: 0.3s
}
#firstpage a:hover {
    background:white;
    color:rgb(100, 100, 255);
}

nav ul {
    list-style-type: none;
    background: transparent;
    display: flex;
    gap: 40px
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s
}

nav ul li a:hover {
    padding: 10px;
    background: white;
    color: black;
    border-radius: 90px;
}

#secondpage {
    position: relative;
    display: flex;
    top:300px;
    color: white;
    padding: 40px;
}

#leftside {
    width:50%;
} 

#secondpage h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 90px;
    font-weight: 500;
    padding-bottom: 20px;
}

#secondpage p {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}
#secondpage img {
    border-radius: 50px;
    width: 500px;
}

@media screen and (max-width: 960px) {
    #menubtn {
        display: inline;
    }

    nav ul li a {
        display:none;
    }

    #secondpage {
        flex-direction: column;
        margin:0;
        padding:0;
    }
    #leftside {
        padding: 0;
        width: 79%;
    }
    #secondpage h1 {
        font-size: 60px;
    }
    #secondpage p {
        font-size: 25px;
        padding-bottom: 40px;
        margin: 0;
    }
    #secondpage img {
        width: 700px;
    }
    #firstpage h1 {
        font-size: 85px;
    }
    #firstpage h3 {
        font-size: 45px;
    }
}

@media screen and (max-width: 744px) {
    #firstpage h1{
        font-size: 68px;
    }
    #firstpage h3{
        font-size: 32px;
    }
    #secondpage p {
        font-size: 20px;
    }
    #secondpage img {
        width: 500px;
    }
    #firstpage a {
        font-size: 20px;
    }
}

@media screen and (max-width: 534px) {
    #firstpage h1 {
        font-size: 60px;
    }
    #secondpage img {
        width: 400px;
    }
}

@media screen and (max-width: 430px) {
    #firstpage h3 {
        font-size: 26px;
    }
    #secondpage img {
        width: 300px;
    }
}

